:root {
    --active-color: #2196f3;
    --main-text-color: #212121;
    --bg-color: #ffffff;
    --nav-color: #020202;
    --nav-link-color: #212121;
    --head-contact-color: #757575;
    --btn-color: #212121;
    --card-title-color: #212121;
    --card-subtitle-color: #757575;
    --card-box-border-color: #eeeeee;
    --foot-bg-color: #2f303a;
    --foot-link-color: rgba(255, 255, 255, 0.6);
    --title-color: #2f303a;
    --secondary-header-color: #212121;
    --team-cards-bg-color: #f5f4fa;
    --border-bottom-color: #ececec;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    width: 1600px;
}

ul {
    list-style-type: none;
}
.head-wrapper {
    border-bottom: 1px solid var(--border-bottom-color);
    background-color: var(--bg-color);
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
    text-decoration: none;
}

.nav {
    display: flex;
    white-space: ;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-list {
    display: flex;
    text-decoration: none;
    color: var(--nav-color);
}

.nav-link {
    text-decoration: none;
    color: var(--nav-link-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--active-color);
}

.head-contact {
    display: flex;

    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    color: var(--head-contact-color);
}
.head-contact:hover,
.head-contact:focus {
    color: var(--active-color);
}

.filter-wrapper {
    background: var(--bg-color);
}

.filter-btn {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--btn-color);
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
}

.filter-btn:hover,
.filter-btn:focus {
    background: var(--active-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--card-title-color);
}
.card-subtitle {
    display: block;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--card-subtitle-color);
}

.card-box {
    background: var(--bg-color);
    width: 370px;
    border: 1px solid var(--card-box-border-color);
}

.foot-wrapper {
    background-color: var(--foot-bg-color);
    padding: 60px 1139px 60px 215px;
}

.foot-contact {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
    color: var(--foot-link-color);
}

.link:hover,
.link:focus {
    color: var(--active-color);
}

/* index.html spec styles */

.main-background {
    background: #ffffff;
}

.title {
    display: flex;
    margin-top: 200px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--bg-color);
}

.title-background {
    background: var(--title-color);
    text-align: center;
    padding: 106px 452px 106px 452px;
}

.click-on {
    margin-bottom: 200px;
    background: var(--active-color);
    color: var(--bg-color);
    font-weight: 700;
    line-height: 1.9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    padding: 10px 41px 10px 42px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--card-title-color);
}
.advantages {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--card-subtitle-color);
}

.secondary-header {
    margin-top: 0;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--secondary-header-color);
}

.activities {
    display: flex;
    list-style-type: none;
}

.team-cards {
    background: var(--team-cards-bg-color);
}

.member-card {
    background-color: var(--bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 368px;
    border: 0 solid var(--card-box-border-color);
    text-align: center;
}

.member-card-title {
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--card-title-color);
}

.member-card-text {
    display: block;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--card-subtitle-color);
}

/* HW - 03 */

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.head-container {
    display: flex;
    align-items: baseline;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.head-con-container {
    display: flex;
    justify-content: end;
    margin-left: 371px;
}

.nav-list > li {
    margin-right: 23px;
}
.nav-list:last-child {
    margin-right: 0;
}
.head-con-container > :first-child {
    margin-right: 23px;
}
.cards-li {
    display: flex;
    margin-bottom: -94px;
}
.cards {
    display: flex;
}

.cards > li:not(:last-child) {
    margin: 0 30px 0 0;
}

.activities > li {
    margin: 0 30px 0 0;
}

.activicardsties > li {
    margin: 0 30px 0 0;
    padding: 0;
}

address > a {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
}
